.app-list-item {
    font-size: 1.25rem;
    font-style: italic;
    padding: 20px 35px 10px 35px;
}
.app-list-item-label {
    user-select: none;
    cursor: pointer;
}
.app-list-item button {
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.app-list-item button:focus {
    box-shadow: none;
    outline: none;
}
.btn-star {
    color: #fff700;
}
.btn-trash   {
    color: red;
}
.app-list-item .fa-heart {
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
    color: red;
    cursor: pointer;
    user-select: none;
    transition: 0.5s all;
    opacity: 0;
}
.app-list-item.like .fa-heart {
    opacity: 1;
    transform: translateX(0);
}
.app-list-item.important .app-list-item-label {
    color: #ffd700;
}
.app-list-item.important .btn-star {
    color: #aeaeae;
}